/* LoginSignup.css */
.authPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
  }

  .authPage img{
    width: 200px;
  }
  
  .toggleButtons {
    margin-bottom: 20px;
  }
  
  .toggleButtons button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .toggleButtons button.active {
    background-color: transparent;
    color: black;
    border-bottom:2px solid black;
  }
  
  .authform {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .authform input {
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .authform button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .authform button:hover {
    background-color: #0056b3;
  }
  